#calculator {
  width: 60%;
  height: 40%;
  max-width: 500px;
  max-height: 850px;
  margin: auto;
  margin-top: 3%;
  border: black solid;

  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, 10vh);
}

#display {
  border: solid black 2px;
  font-size: 4vh;

  grid-column-start: 1;
  grid-column-end: 5;

}
#displayText{
  float: right;
  position: relative;
  padding-top: 1vh;
}

#z0 {
  grid-column-start: 1;
  grid-column-end: 4;
}

button {
  font-size: 2vmax;
  border: black 2px solid;
}
