#calculator {
  width: 60%;
  height: 40%;
  max-width: 500px;
  max-height: 850px;
  margin: auto;
  margin-top: 3%;
  border: red 5px solid;

  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, 130px);
}

#display {
  border: solid black 2px;
  font-size: 2vmax;

  grid-column-start: 1;
  grid-column-end: 5;
}

#z0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

button {
  font-size: 2vmax;
  border: chartreuse 2px solid;
}
